<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silicon.provider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".Activities.ShowSections"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".Activities.ShowFaculities"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".Activities.MyServices"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SectionServices"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.FacultiesServices"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.UniversitiesServices"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.UpdateProfile"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.SignUPInstitiute"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.SignUP"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.Login"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.LoginReg"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".MainActivity" />

    </application>

</manifest>